input/holidays_events.csv
input/oil.csv
input/stores.csv
input/test.csv
input/train.csv
input/transactions.csv
sample_submission.csv

Maduracion.m4a
M4a_files\Maduracion.m4a
Maduracion.wav
recognized.txt
CHAT ANALYSIS.ipynb
